@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
   margin:0px; 
   padding:0px;
   box-sizing:border-box;
   font-family: 'Poppins', sans-serif;
   color:#fff;
}

.section{
    width:100%;
    min-height:100vh;
    
}

.container{
    width:100%;
    display:block;
    /* margin:auto; */
    padding-top:100px;
}
.container::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 27, 50, 0.5);
    z-index: -1;
  }
.content-section{
    float:left;
    width:100%;
    z-index:1;
    color:#fff;
}
.image-section{
    margin-left: 400px;
    margin-top: -10px;
    width:30%;
}
.image-section img{
    width: 100%;
    height:auto;
}
.content-section.title{
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 45px;
}
.content-section.title h1{
    letter-spacing:.7em;
    margin-left: 35px;
}
.content-section.content h3{
    margin-top: 10px;
    color: #5d5d5d;
    font-size:15px;
}
.content-section.content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section.content .button{
    margin-top:30px;
}
.content-section.content .button a{
    background-color:#3d3d3d;
    padding:12px 40px;
    text-decoration:none;
    color:#fff;
    font-size:25px;
    Letter-spacing:1.5px;
}
.content-section .content.button a:hover{
    background-color:#a52a2a;
    color:#fff;
}
.content-section.social{
    margin-top:40px;
}
.content-section.social i{
    color:#a52a2a;
    font-size:30px;
    padding:0px 10px;

}
.content-section .social i:hover{
    color:#6b4040;
}
@media screen and(max-width:1280px){
    .section{
        width:100%;
        min-height:400vh;
        
    }
    background-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .container{
        width:100%;
        display:block;
        margin:auto;
        padding-top:50px;
    }
    .container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(169, 36, 36, 0.938);
        z-index: -1;
      }
    .content-section{
        float:left;
        width:100%;
        display:block;
        margin:auto;
    
    }
    .image-section{
       float:left;
        width:100%;
    }
    .image-section img{
        width:100%;
        height:auto;
        display:block;
        margin-right: 300px;

    }
    .content-section.title{
        text-align:center;
        font-size:19px;
    }
    .content-section.content .button{
        text-align:center;
    } 
    .content-section.content .button a{
        padding:9px 30px;

    }
    .content-section.social{
        margin-top:40px;
    } 
}