body{
    padding:0;
    margin:0;
    background-color: #7373b4;
}


a,a:hover{
    text-decoration:none;
}

.mt-20px{
    margin-top:20px;
}
.border{
    border-right:1px solid rgb(255 255 255 / 0.4);
}
.btn-green{
    display:inline-block;
    text-transform: capitalize;
    font-size:16px;
    font-weight:900;
    color:#fff;
    padding: 10px 30px;
    border-radius: 2px;
    position: relative;
    border: 1px solid #01ca8b;
    box-shadow: 0 0 0 4em #01ca8b inset;
    transition: all 350ms ease;
}
.btn-green i{
    margin-right:6px;
}
.btn-green:hover{
    box-shadow: 0 0 0 0 #01ca8b inset;
    background: #fff;
    color: #01ca8b;
}
.btn-transparent{
    border:1px solid #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #fff;
    
}
.header-active{
    position: fixed;
    background: #000;
    z-index: 1;
    top: 0;
    animation-name: example;
    animation-duration: 0.8s;
}
@keyframes example{
    from{top:-200px;}
    to{top:0;}
}
.logo{
    display: inline-block ;
    padding-right: 30px;
    
}
.logo img{
    width: 80px;
    height: 80px;
}
.menu{
    display: inline-block; 
}
.menu ul{
    padding:0;
    margin:0;
}
.menu ul li{
   display: inline-block; 
   list-style-type: none;
   margin: 0 20px;
}
.menu ul li a{
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}
.menu ul li a::before{
    content: '';
    position: absolute;
    background: #fff;
    width:0;
    height:2px;
    bottom: -5px;
    left: 0;
    transition: 0.2s ease-in-out;
}
.menu ul li a:hover::before{
    width: 100%;
}
.header-social{
   margin-top: 21px; 
}
.header-social ul{
    margin:0;
    padding: 0;
}
.header-social ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.header-social ul li a{
    color:#fff;
    background: rgb(255 255 255 / 0.4);
    width: 41px;
    height:41px;
    border-radius:50%;
    display:inline-block;
    position:relative;
}
.header-social ul li a i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}
.header-social ul li a:hover i{
    color:#01ca8b;
}
.banner{
    background-position:0 30%;
    background-size:cover;
    background-repeat:no-repeat;
    padding:16enm 0 14enm 0;
    box-shadow: -5px -5px 30px 5px #7a7f83 5px 5px 30px 5px #8d9ba3;
}
.banner-content{
    width:100%;

}

.banner-content h1{
    color:#fff;
    font-size:80px;
    font-weight: 800;
    margin-top:10px;
    line-height:80px;
}
.service{
    border-radius:10px;
    background:#737eb4;
    border:1px solid #737eb4;
    margin-top:100px;
}
.service a{
    display: inline-block;
    width:33%;
    color:#fff;
    font-size:20px;
    font-weight:800;
    border-right:1px solid #fff;
    padding:34px 20px;
    margin: 0 -2px;
    height: 180px;
    vertical-align:top;
}
.service a:last-child{
    border-right:none;
    background-image:url(Pictures/Medicine.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    width:34.2%;

}
.service-content{
    width:calc(100%-47px);
    display:inline-block;
    vertical-align:middle;
    position:relative;
}
.service-content::before{
    content:'';
    position:absolute;
    left:0;
    bottom: -5px;
    background: #5d6a8e;
    height: 2px;
    width:0;
    transition:0.2s ease-in-out;
}
.service a:hover .service-content::before{
    width:50%;
}
.service-btn{
    width:40px;
    display: inline-block;
    height: 40px;
    background:#737eb4;
    
    border-radius: 50%;
    position:relative;
    vertical-align: middle;

}
.service-btn i{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.2s ease-in-out;
}
.service a:hover .service-btn i{
    transform:rotate(-40deg);
    top:26%;
    left:32%;

}
.service-icon{
    font-size:  40px;
    margin-top: 22px;
}
.call{
    display: inline-block;
    width:40px;
    vertical-align: middle;
}
.call-number{
   width:cal(100% - 54px);
   display:inline-block;
   vertical-align: middle;
}
.call-number p{
    font-size:14px;
    text-transform: uppercase;
}

.call-number h3{
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.work{
   position:relative;
   margin-top: -80px;
   background-color: #737eb4;
}
.hours{
  background:#01ca8b;
  border-radius: 10px;
  padding: 40px 50px; 
}
.hours h2{
    color:#fff;
    font-weight:900;
    margin: 0 0 30px;

}
.time{
  border-top:1px solid rgb(255 255 255/ 0.52);
  padding: 30px 0;  
}
.time:last-child{
    padding-bottom: 0;
}
.time h4, .time p{
   text-align: left;
   color:#fff;
   font-weight:600; 
}
.booking{
  display: inline-block;
  width:33%;
  margin-left: -4px;
  color:#fff;
  font-weight: 600;
  font-size: 15px;  
}
.btn-white{
    background:#fff;
    color: #01ca8b;
    border: none;
    outline: none;
    border-radius: 2px;
    padding:4px 10px;

}
.btn-white i{
    margin-right: 4px;

}
.response{
   border-radius:10px;
   border: 1px solid #ebebeb;
   overflow:hidden;
   
}
.response-bg{
   height:260px;
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   border-top-left-radius:10px;
   border-bottom-right-radius: 10px;
   transition:0.4s ease-in-out;
}
.response a:hover .response-bg{
    transform: scale(1.04);
}
.response-content{
    padding: 90px 30px 30px;
    text-align: left;
    clip-path: polygon(0  0 , 100% 20% , 100% 100% , 0% 100%);
    background:#fff;
    position: relative;
    margin-top: -70px;
}
.response-icon{
    background: #01ca8b;
    border-radius: 2px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.response-icon i{
     position:absolute;
     top:50%;
     left: 50%;
     transform: translate(-50% , -50%); 
     color: #fff;
     font-size: 30px; 
}
.response-content h2{
    color: #000;
    font-weight: 800;
    line-height: 36px;
}
.response-content p{
      color: #737eb4; 
      font-size: 15px;
      margin: 24px 0 0;
}
.read-more{
    border: none;
    outline: none;
    background: transparent;
    color:#01ca8b;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease-in-out;

}
.read-more i{
    margin-left: 4px;
    transition: 0.2s ease-in-out;
}
.response a:hover .read-more{
    color:#000;

}
.response a:hover .read-more i{
    color:#01ca8b;
    margin-left: 6px;
}

@media screen and (max-width: 790px){
    header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        display:inline;
        border-bottom: 1px solid #fff;
        
    }
    .header-active{
        position: fixed;
        background: #000;
        display:inline;
        z-index: 1;
        top: 0;
        animation-name: example;
        animation-duration: 0.8s;
    }
    .logo{
        display: inline-block ;
        padding-right: 0px;
        
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
    .menu ul li{
        font-size: 35px!important;
        line-height: normal!important;
        text-align: center;
        list-style: none;
        float: right;
        padding:  4% 0px;
        cursor: pointer;
        transition:.2s ease all;
        -webkit-transition:.2s ease all;


    }
    .menu a{
        color:#fff;
        text-decoration:none;
        margin-left: auto;
        margin-right:auto;

    }
    .menu ul li:hover,.menu ul li.active {
         box-shadow: inset 0 0 6px rgba(0 8 5 89);
         transform: scale(.7) translateY(-2%);
         border-radius: 1%;
         opacity: 1;


    }
    .banner{
        background: no-repeat fixed;
        position: relative;
        top:-100px;
        left:0;
        bottom:0;
        z-index: -1;


    }
    #main_content{
        display: flex;
        justify-content: space-around;
        align-items:center ;
        height: calc(100vh - 100px );
        width:calc((100vw / 12 ) * (12));
        overflow: hidden;




    }
    section#about h3,section#services h3,#contact h3{
        font-size:4rem;
        padding:.5em;
        letter-spacing: -.05em;
        line-height: normal;


    }
    p{
        color:#fff;
        margin:auto auto.5em;
        text-align: center;
        max-width:68ch;
        word-wrap: break-word;
        white-space: pre-line;
        opacity:70%;

    }
    a{
        background-color: transparent!important;
        border:none !important;
        outline : none!important;
        cursor: pointer;
        transition: all ease-in-out.2s;
        box-shadow: inset   .9rem rgba(var(--primary),.1);

    }
    work{
        display: flex ;
        justify-content: space-between;
        align-items:center;
        width: 100vw;
        height: fit-content;
        gap: 1rem;
        position: relative;
        top:-1px;
        z-index: -1;

    }
    response{
        font-size:.4rem;
        padding:.3rem.5rem;
        min-height:fit-content;
        line-height: normal;
        letter-spacing:.05rem;
        color:#fff;
        margin-top: -.2rem;
        text-align: center;

        
    }
}

    @media screen and  (max-width:768px){ 
        .work{
            grid-template-columns: repeat(auto-fill,minmax(min(calc((100% - 4px * 2) / 3)), 320px));
            max-width: calc(((100% - 4px*2)/3))--primary;
            background-color: #f9fafc;
            border-radius: var(--borderRadius);
            box-shadow:var(--boxShadow);
            overflow: hidden;
            width: auto!important;
            height: fit-content;
            display: flex;
            justify-items: stretch;
            align-items:center;
            gap: 1rem;
            position: relative;
            z-index: 1;
            transition: all ease-in-out.2s;
            cursor: pointer;
            padding: 1rem;
            font-size: clamp(.8em,.8em + ((1vw/10)*
            1), 1em);
            &:hover {
                transform: scale(1.05);
                opacity:.9;
                filter: brightness(1.1);


            }
            & > div{
                color:#6c757d;
                text-align: center;
                margin:auto;
                max-width:34ch;
                line-height:clamp((1vh+1px)/2, (1vh+1
                px)/2, calc(((1vh*1)+1) *
                .8));
                overflow: hidden;
                white-space: nowrap;
                display:-webkit-box;-webkit-line-clamp:
                2;-webkit-box-orient: vertical;overflow:hidden;text-overflow:ellipsis
                ;
                @media screen and (max-width : 400px){
                    -webkit-line-clamp:
                    1;
                    height: auto!important;
                    min-height: unset!important;
                    font-size: clamp(.7rem,.7rem, ((1vw +
                    1px)*.8))!important;
                    padding: 1em 0!important;
                    width:unset!important;
                    box-shadow: none!important;
                    border-radius:.9rem!important;
                    background-color: #fff!important;
                    transition: all ease-in-out.3s;
                &:hover{
                    transform: scale(1);
                    opacity: 1;
                    z-index:5;
                    color:#6c757d;
                    text-decoration:none;
                    cursor:pointer;
                    position:relative;
                    top: -.2rem;
                    left:-.2rem;
                    right:-.2rem;
                    bottom:-.2rem;
                    display:flex;
                    justify-content:center;
                    align-items: center;


                }
                & > div {
                    margin: auto;
                    padding:0px ;
                    width:84%;
                    height:auto;
                    border:.2rem solid transparent;
                    background-color: #fff;
                    box-shadow: inset -3px -3px rgba(#9b9b9b
                    ,.2),inset  3px  3px rgba(#9b9b9b,.2);
                    transition: all ease-out.2s;

                }



                }




            }
            .img{
                display: flex;
                justify-content: center;
                align-items:center;

            }
            .btn{
                margin-top: 10vh;
                width:5vw ;
                height:4vh;
                border:.8rem solid rgb(6, 7, 10) ;
                background:#fff;
                color:#000;
                font-size:3vh;
                text-align: center;
                cursor: pointer;
                transition: all.2s ease-in-out;

            }









          
        }
        



    }
  













